{# templates/pdf.html.twig #}
{# @var loanData array #}
{# @var schedule array #}

{% extends 'base.html.twig' %}

{% block body %}

	<style>
		nav,
		footer p {display:none}
	</style>

	{% if loanData %}
		<section class="shadow-box hide-right bottom-150">	
			<div class="title-wrapper secondary">
				<h2>Loan Details</h2>	
			</div>
			<table style="width: 100%; margin-bottom: 10px">
				<tr>
					<td>
						<div>
							<h5>Your Estimated loan:</h5>
							<ul class="list-group">
								<li class="list-group-item">APR: {{ loanData.apr }}%</li>
								<li class="list-group-item">Interest Rate: {{ loanData.interestRate }}%</li>
								<li class="list-group-item">Origination Fee: ${{ loanData.fee | number_format(2) }}</li>
								<li class="list-group-item">Monthly Payment: ${{ loanData.payment | number_format(2) }}</li>
							</ul>
						</div>
					</td>
					<td>
						<div>
							<h5>Submitted details:</h5>
							<ul class="list-group">
								<li class="list-group-item">Loan Amount: ${{ loanData.amount | number_format(2) }}</li>
								<li class="list-group-item">Monthly Income: ${{ loanData.income | number_format(2) }}</li>
								<li class="list-group-item">Term: {{ loanData.term }} months</li>
								<li class="list-group-item">Credit: {{ loanData.creditScore | capitalize}}</li>
							</ul>	
						</div>		
					</td>
				</tr>
			</table>	
			<hr />
			<div id="paymentTable">		
				<div class="table-wrapper"  style="margin-top: 20px">
					<h5>Payment schedule</h5>
					<table class="table table-striped" style="width: 100%">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Month</th>
								<th scope="col">Amount</th>
								<th scope="col">Interest</th>
								<th scope="col">Principal</th>
								<th scope="col">Balance</th>
							</tr>
						</thead>
						<tbody>
						{% for data in schedule %}
							<tr>
								<th scope="row">{{data.id}}</th>
								<th>{{data.date}}</th>
								<td>${{data.amount | number_format(2)}}</td>
								<td>${{data.interest | number_format(2)}}</td>
								<td>${{data.principal | number_format(2)}}</td>
								<td>${{data.balance | number_format(2)}}</td>							
							</tr>	
						{% endfor %}
						</tbody>
					</table>
				</div>	
			</div>
		</section>
	{% endif %}

{% endblock %}
